architecture/.asciidoctor/*
.asciidoctor
solution/frontend/admin-console/node_modules/*
solution/frontend/buyer-portal/node_modules/*
solution/frontend/vendor-backoffice/node_modules/*
solution/backend/target/*
